.inblock {
    display: inline-block;
  }
  
  a:link, a:visited {
    color: #333;
    text-decoration: none;
  }
  .orange, a.orange {
    color: #EE761A;
  }
  
  .clear, .clr {
    line-height: 0;
    overflow: hidden;
  }
  .clear, .clearfix:after, .clr {
    font-size: 0;
    height: 0;
    clear: both;
  }
  
  .gray {
    color: #a1a1a1
  }
  
  .link-gray {
    color: #8b8b8b
  }
  
  .link-black:link,.link-black:visited {
    color: #303030
  }
  
  .link-black:hover,.link-gray:hover {
    color: #ee761a;
    text-decoration: none
  }
  
  .link-white:link,.link-white:visited {
    color: #fff
  }
  
  .link-white:hover {
    color: #ee761a;
    text-decoration: none
  }
  
  
  /*
   * in page's detail
   */
  .f-home-nav {
    border-bottom: 2px #ff4a00 solid;
  }
  
  .path-slide {
    margin: 10px auto 5px;
    width: 960px;
    height: 31px;
    line-height: 31px;
  }
  
  .path-slide i {
    color: #ee761a;
  }
  
  .product-list {
    position: relative;
    width: 920px;
    padding: 20px 20px 10px;
    margin: 0 auto 0;
    background-color: #fff;
  }
  
  .product-list .img-item {
    float: left;
    width: 400px;
    height: 520px;
  }
  
  .product-list .per-item {
    position: relative;
    float: right;
    width: 485px;
  }
  
  .product-list .per-item .title {
    padding: 5px 0 20px;
    line-height: 24px;
    border-bottom: 1px #ededed solid;
    font-size: 18px;
    color: #303030;
  }
  
  .product-list .per-item .desc {
    color: #838383; /*by jimmy height: 127px;*/
  }
  
  .product-list .per-item .desc li {
    line-height: 40px;
  }
  
  .product-list .per-item .desc li .orgblock {
    display: inline-block;
    padding: 0px 5px;
    margin: 0 5px 0 2px;
    line-height: 22px;
    color: #fff;
    background: #EE761A;
  }
  
  .product-list .per-item .desc li .a-discount {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: 5px;
    padding: 0 5px;
    background-color: #e92919;
    height: 14px;
    line-height: 14px;
    color: #fff;
    font-size: 12px;
  }
  
  .product-list .per-item .desc li.m-price {
    padding-top: 40px;
  }
  
  .product-list .per-item .desc .desc-bold {
    color: #303030;
  }
  
  .product-list .per-item .desc .free {
    font-size: 14px;
    font-family: arial;
    font-weight: bolder;
  }
  
  .product-list .per-item .desc .mark {
    font-size: 16px;
    color: #ee761a;
    font-weight: bolder;
  }
  
  .product-list .per-item .desc .price {
    font-size: 26px;
    color: #ee761a;
    font-weight: bolder;
  }
  
  .product-list .per-item .desc .discount {
    font-size: 14px;
    color: #ee761a;
  }
  
  .product-list .per-item .change {
    background-color: #fbfbfb;
    padding: 20px 10px 2px 20px;
    color: #838383;
    height: 92px;
    border: 1px #ededed solid;
  }
  
  .product-list .per-item .change li {
    line-height: 35px;
  }
  
  .product-list .per-item .change li.n-num {
    margin-top: 28px;
  }
  
  .product-list .per-item .change li .color {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 26px;
    height: 26px;
    vertical-align: middle;
    border: 2px #fbfbfb solid;
  }
  
  .product-list .per-item .change li .c-black {
    background-color: #000;
  }
  
  .product-list .per-item .change li .on .ok {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    width: 11px;
    height: 11px;
    background: url(../img/icon.png?t=1) 0 -373px no-repeat;
    z-index: 2;
  }
  
  .product-list .per-item .change li .color-title {
    color: #303030;
  }
  
  .product-list .per-item .change li .size {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0 10px;
    *display: inline;
    *zoom: 1;
    background-color: #fff;
    height: 25px;
    line-height: 24px;
    border: 1px #bababa solid;
    vertical-align: middle;
    color: #303030;
    cursor: pointer;
  }
  
  .product-list .per-item .change li .size:hover {
    text-decoration: none;
    color: #303030;
  }
  
  .product-list .per-item .change li .on {
    border: 2px #ee761a solid;
  }
  
  .change ul {
    margin: 0 0 10px 0;
  }
  .change .amount span, .change .amount a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
  
  .change .amount {
    margin-top: 10px;
  }
  
  .change .amount .add {
    margin-right: 10px;
    width: 28px;
    height: 23px;
    background: url(../img/icon.png?t=1) -22px -320px no-repeat #fff;
    overflow: hidden;
    text-indent: -999px;
    vertical-align: middle;
    border: 1px #bababa solid;
    border-left: 1px #dcdcdc solid;
  }
  .change .amount .add.disabled, .change .amount .reduce.disabled {
    background-color: #ccc;
    opacity: 0.6;
  }
  
  .change .amount .add:hover {
    background-position: -22px -345px;
  }
  
  .change .amount .reduce {
    width: 28px;
    height: 23px;
    background: url(../img/icon.png?t=1) 2px -320px no-repeat #fff;
    overflow: hidden;
    text-indent: -999px;
    vertical-align: middle;
    border: 1px #bababa solid;
    border-right: 1px #dcdcdc solid;
  }
  
  .change .amount .reduce:hover {
    background-position: 2px -345px;
  }
  
  .change .amount .val {
    padding: 0 5px;
    width: 50px;
    height: 23px;
    line-height: 23px;
    border: 1px #bababa solid;
    border-width: 1px 0;
    background-color: #fff;
    vertical-align: middle;
    text-align: center;
    color: #303030;
  }
  
  .product-list .per-item .shopping-cart {
    padding: 25px 0;
  }
  
  .product-list .per-item .shopping-cart a {
  }
  
  .product-list .per-item .shopping-cart .shopping {
    display: block;
    width: 180px;
    height: 51px;
    background: url(../img/btn.png) 0 -46px no-repeat;
    overflow: hidden;
    text-indent: -999px;
  }
  
  .product-list .per-item .shopping-cart .shopping:hover {
    background-position: -184px -46px;
  }
  
  .product-list .per-item .shopping-cart .over, .product-list .per-item .shopping-cart .over:hover {
    background-position: -368px -46px;
  }
  
  .product-list .per-item .shopping-cart .arr-notice {
    background-position: -0 -552px;
  }
  
  .product-list .per-item .shopping-cart .arr-notice:hover {
    background-position: -183px -552px;
  }
  
  .product-list .per-item .shopping-cart .mark em {
    margin: 0 5px 0 0;
    width: 16px;
    height: 18px;
    background: url(../img/icon.png?t=1) -14px -489px no-repeat;
    vertical-align: middle;
  }
  
  .product-list .per-item .shopping-cart .mark:hover em {
    background-position: -14px -508px;
  }
  
  .product-list .per-item .shopping-cart .mark .inblock, .product-list .per-item .shopping-cart .share .inblock {
    vertical-align: middle;
  }
  
  .product-list .per-item .shopping-cart .share em {
    margin-right: 5px;
    width: 13px;
    height: 17px;
    background: url(../img/icon.png?t=1) 0 -489px no-repeat;
    vertical-align: middle;
  }
  
  .product-list .per-item .shopping-cart .share:hover em {
    background-position: 0px -508px;
  }
  
  .product-list .per-item .shopping-cart .other {
    display: block;
    padding-top: 15px;
    height: 30px;
    padding-left: 15px;
    border-left: 1px #ededed solid;
    margin: 0 0 0 30px;
  }
  
  .product-list .per-item .shopping-cart .other a {
    margin-top: 15px;
  }
  
  .product-list .per-item .pro-txt {
    padding-top: 10px;
    border-top: 1px #ededed solid;
  }
  
  .product-list .per-item .pro-txt span {
    position: relative;
    margin-right: 20px;
    float: left;
    display: block;
    height: 40px;
    padding-left: 35px;
    line-height: 20px;
    width: 58px;
    color: #838383;
  }
  
  .product-list .per-item .pro-txt span em {
    position: absolute;
    left: 0;
    top: 4px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 24px;
    height: 30px;
    background-image: url(../img/icon.png?t=1);
    background-repeat: no-repeat;
    vertical-align: middle;
  }
  
  .product-list .per-item .pro-txt span.t-1 em {
    background-position: -61px -437px;
  }
  
  .product-list .per-item .pro-txt .t-2 em {
    width: 31px;
    background-position: -30px -437px;
  }
  
  .product-list .per-item .pro-txt .t-3 em {
    width: 29px;
    background-position: 0 -437px;
  }
  
  .product-list .per-item .pro-txt span i {
    display: inline-block;
    background-color: #f07700;
    padding: 0px 1px 0px 2px;
    border-radius: 2px;
    color: #fff;
    margin-right: 4px;
    line-height: 15px;
  }
  
  .product-list .per-item .pro-txt .t1 {
    padding-left: 0px;
    width: 42px;
    margin-right: 9px;
    height: auto;
  }
  
  .product-list .per-item .pro-txt .t2 {
    padding-left: 0px;
    margin-right: 10px;
    width: 120px;
    height: auto;
    cursor: pointer;
  }
  
  .product-list .per-item .pro-txt .t3, .product-list .per-item .pro-txt .t4 {
    padding-left: 0px;
    margin-right: 10px;
    width: 73px;
    height: auto;
    cursor: pointer;
  }
  
  
  .pro-details {
    margin: 15px auto 0;
    width: 960px;
    overflow: hidden;
  }
  
  .pro-details .items-title {
    height: 33px;
    line-height: 33px;
    border-bottom: 3px #ee761a solid;
  }
  
  .pro-details .items-title .title li {
    float: left;
    margin-right: 3px;
    width: 185px;
    height: 33px;
    line-height: 33px;
    background-color: #454545;
    text-align: center;
    color: #d6d6d6;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px 3px 0 0;
  }
  
  .pro-details .items-title .title li.on {
    background-color: #ee761a;
    color: #fff;
  }
  
  .pro-details .items-content {
    padding: 20px;
    background-color: #fff;
  }
  
  .pro-details .items-content .signle {
    display: none;
    color: #303030;
    line-height: 35px;
  }
  
  .pro-details .items-content .signle h4 {
    font-size: 14px;
    line-height: 30px;
    color: #303030;
    font-weight: bolder;
    border-bottom: 1px #aaaaaa dashed;
  }
  
  .pro-details .items-content .signle .txt {
    margin: 15px 0;
    color: #303030;
    line-height: 35px;
  }
  
  .pro-details .items-content .signle .pro-table {
    margin: 15px 0 50px;
  }
  
  .pro-details .items-content .signle .pro-table tr {
    border-bottom: 5px #fff solid;
  }
  
  .pro-details .items-content .signle .pro-table td {
    padding: 5px 10px;
    border-right: 5px #fff solid;
    line-height: 18px;
    background-color: #f6f6f6;
    color: #303030;
  }
  
  .pro-details .items-content .signle .pro-table td .title {
    color: #838383;
  }
  
  /** add column detail in page's **/
  .pro-details .left-slide-detail {
    float: left;
    width: 780px;
  }
  
  .pro-details .right-slide-detail {
    float: right;
    width: 170px;
  }
  
  .pro-details .left-slide-detail .items-title {
    border-top: 2px #ee761a solid;
    border-bottom-width: 0;
  }
  
  .pro-details .left-slide-detail .items-title .title li {
    margin-right: 0;
    width: 260px;
    background: url(../../images/detail/detail-bg-title.png) 0 0 repeat-x;
    color: #4d4d4d;
    font-size: 14px;
    border-right: 1px #cecece solid;
  }
  
  .pro-details .items-title .title {
    margin:0;
    width: 783px;
  }
  
  .pro-details .left-slide-detail .items-title .title li.on {
    color: #ee761a;
  }
  
  .pro-details .left-slide-detail .items-title {
    overflow: hidden;
  }
  
  .pro-details .left-slide-detail .items-content .signle .pro-table li {
    width: 224px;
  }
  
  .pro-details .right-slide-detail .tabs-title {
    overflow: hidden;
    border-top: 2px #8c8c8c solid;
  }
  
  .pro-details .right-slide-detail .tabs-title ul {
    margin:0;
    width: 172px;
  }
  
  .pro-details .right-slide-detail .tabs-title ul li {
    float: left;
    width: 85px;
    background: url(../../images/detail/detail-bg-title.png) 0 0 repeat-x;
    color: #4d4d4d;
    font-size: 14px;
    border-right: 1px #cecece solid;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
  }
  
  .pro-details .right-slide-detail .tabs-title ul li.on {
    color: #ee761a;
  }
  
  .pro-details .right-slide-detail .tabs-contents {
    padding: 5px;
    background-color: #fff;
    text-align: center;
  }
  
  .pro-details .right-slide-detail .tabs-contents .single {
    display: none;
  }
  
  .pro-details .right-slide-detail .tabs-contents .single dl, .recently-view .contents .list ul li dl {
    margin-bottom: 15px;
  }
  
  .pro-details .right-slide-detail .tabs-contents .single dl .title, .recently-view .contents .list ul li dl .title {
    height: 40px;
    line-height: 15px;
    overflow: hidden;
  }
  
  .pro-details .right-slide-detail .tabs-contents .single dl .title strong, .recently-view .contents .list ul li dl .title strong {
    line-height: 25px;
  }
  
  .pro-details .right-slide-detail .tabs-contents .single dl .price, .recently-view .contents .list ul li dl .price {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #ee761a;
  }
  
  .pro-details .right-slide-detail .tabs-contents .single dl .price .txt {
    position: relative;
    display: inline-block;
    padding-left: 45px;
  }
  
  .pro-details .right-slide-detail .tabs-contents .single dl .price .txt .cuxiao {
    position: absolute;
    display: block;
    left: 0;
    top: 6px;
    width: 39px;
    height: 17px;
    background: url(../img/icon.png?t=1) -498px -503px no-repeat;
  }
  
  .pro-details .right-slide-detail .tabs-contents .single dl .price .txt .zuhe {
    position: absolute;
    display: block;
    left: 0;
    top: 6px;
    width: 39px;
    height: 17px;
    background: url(../img/icon.png?t=1) -498px -486px no-repeat;
  }
  
  .pro-details .right-slide-detail .tabs-contents .single dl .price .txt .manjian {
    position: absolute;
    display: block;
    left: 0;
    top: 6px;
    width: 39px;
    height: 17px;
    background: url(../img/icon.png?t=1) -430px -503px no-repeat;
  }
  
  .pro-details .right-slide-detail .tabs-contents .single dl .price .txt .manzhe {
    position: absolute;
    display: block;
    left: 0;
    top: 6px;
    width: 39px;
    height: 17px;
    background: url(../img/icon.png?t=1) -430px -486px no-repeat;
  }
  
  
  .recently-view {
    padding: 0 10px;
    margin: 10px auto;
    width: 940px;
    background-color: #fff;
  }
  
  .recently-view h3 {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px #ee761a solid;
    color: #3c3c3c;
    font-size: 14px;
  }
  
  .recently-view .contents {
    position: relative;
    padding: 5px 25px 15px;
  }
  
  .recently-view .contents .prev, .recently-view .contents .next {
    position: absolute;
    display: block;
    width: 16px;
    height: 28px;
    top: 85px;
    background: url(../../images/arr.png) 0 0 no-repeat;
    overflow: hidden;
    text-indent: -999px;
  }
  
  .recently-view .contents .prev {
    left: 0;
  }
  
  .recently-view .contents .next {
    right: 0;
    background-position: -16px 0;
  }
  
  .recently-view .contents .list {
    overflow: hidden;
  }
  
  .recently-view .contents .list ul li dl {
    margin: 0;
  }
  
  .recently-view .contents .list ul li {
    float: left;
    width: 140px;
    margin-right: 10px;
    text-align: center;
  }
  
  #gdindex-time {
    position: absolute;
    top: 0;
    right: -78px;
    width: 70px;
    border: 1px solid #f07700;
    border-radius: 5px
  }
  
  #gdindex-time span {
    display: block;
    padding: 10px 5px;
    color: #fff;
    background-color: #f07700
  }
  
  #gdindex-time p {
    display: block;
    width: 100%;
    padding: 10px 0 0;
    text-align: center;
    color: #666
  }
  
  
  #gwdx {
    position: absolute;
    bottom: 180px;
    right: 99px;
    z-index: 4;
    display: none;
    background-color: #FE7646;
    border-radius: 5px;
    color: #fff;
    padding: 8px 15px;
  }
  
  #gwdx .h1 {
    font-size: 18px;
  }
  
  #gwdx span {
    line-height: 25px;
  }
  
  .amount-alert{
    color: #f00;
  }
  .deliver-notice{
    color: #838383;
  }
  select.select-deliver {
    margin-right: 10px;
    padding: 5px 10px;
    color: #838383;
    cursor: pointer;
    outline: none;
  }
  
  .product-list .img-item .large-box {
    position: relative;
    width: 400px;
    height: 400px;
    font-size: 0;
  }
  
  .large-box .zoom-point {
    position: absolute;
    display: none;
    width: 200px;
    height: 200px;
    background-image: url(../img/zfont.png);
    cursor: move;
  }
  
  .large-box .zoom-box {
    position: absolute;
    display: none;
    width: 400px;
    height: 400px;
    left: 400px;
    top: 0;
    z-index: 3;
    border: 1px #eee solid;
    background-repeat: no-repeat;
  }
  
  .product-list .per-item .xuanze{
    margin-top:20px;
    list-style: none;
    line-height:26px;
    color:#666;
  
  }
  .product-list .per-item .xuanze a{
    display:inline-block;
    color:#f17700;
  }
  .product-list .per-item .xuanze a span{margin-left: 5px; vertical-align: middle}
  .product-list .per-item .xuanze .didian{
    width:40px;
    line-height:21px;
    display:inline-block;
    border-radius:16px;
    color:#f07700;
    text-align:center;
    font-size:12px;
  }
  
  
  .product-list .img-item .mini-box {
    position: relative;
    margin: 10px 30px 0;
    height: 75px;
  }
  
  .product-list .img-item .mini-box .items-box {
    width: 340px;
    height: 75px;
    overflow: hidden;
  }
  
  .product-list .img-item .mini-box .items-box ul {
    width: 999px;
  }
  
  .product-list .img-item .mini-box .prev, .product-list .img-item .mini-box .next {
    position: absolute;
    display: block;
    width: 30px;
    height: 75px;
    top: 0;
    background: url(../img/icon.png?t=1) 0 0 no-repeat;
    z-index: 2;
  }
  
  .product-list .img-item .mini-box .prev {
    left: -30px;
    background-position: 5px -525px;
  }
  
  .product-list .img-item .mini-box .un-prev {
    background-position: -132px -525px;
  }
  
  .product-list .img-item .mini-box .next {
    right: -30px;
    background-position: -80px -525px;
  }
  
  .product-list .img-item .mini-box .un-next {
    background-position: -40px -525px;
  }
  
  .product-list .img-item .mini-box .items li {
    float: left;
    width: 87px;
    height: 75px;
  }
  
  .product-list .img-item .mini-box .items li img {
    width: 73px;
    height: 73px;
    border: 1px #ededed solid;
  }
  
  .product-list .img-item .mini-box .items li.on img {
    border: 2px #ee761a solid;
    width: 71px;
    height: 71px;
  }
  
  .modal-body p {
    margin: 0 0 10px;
  }
  
  
  .dialog-style1 {
    padding: 15px 15px 20px;
    background-color: #fff;
    overflow: hidden;
    border: 5px #ddd solid;
  }
  
  .dialog-style1 .title {
    font-size: 14px;
    padding-bottom: 10px;
  }
  
  .dialog-style1 .close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: url(../../images/pro-bu.png) 0 0 no-repeat;
    cursor: pointer;
  }
  
  .dialog-style1 .contents {
  
  }
  
  .dialog-style1 .contents .txt1 {
    position: relative;
    padding: 0 10px;
    margin-bottom: 12px;
    background-color: #fbfbfb;
    height: 50px;
    line-height: 50px;
    color: #333;
  }
  
  .dialog-style1 .contents .txt3 {
    color: #7fca1e;
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
  }
  
  .dialog-style1 .contents .txt3 em.succ {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: 10px;
    width: 25px;
    height: 20px;
    background: url(../../images/pro-bu.png) 0 -37px no-repeat;
    vertical-align: middle;
  }
  
  .dialog-style1 .contents .txt1 .icon {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 50px;
    height: 26px;
    background: url(../../images/pro-bu.png) -70px 0 no-repeat;
  }
  
  .dialog-style1 .contents .txt {
    margin-bottom: 10px;
    text-align: center;
    color: #888;
  }
  
  .dialog-style1 .contents .txt input {
    padding: 5px 10px;
    line-height: 15px;
    height: 15px;
    border: 1px #ccc solid;
    color: #333;
  }
  
  .dialog-style1 .contents .txt .btn-buy {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 20px;
    color: #fff;
    height: 25px;
    line-height: 25px;
    background-color: #ee761b;
  
  }
  .ad-activity {
    width: 100%;
    overflow: hidden;
  }
  .ad-activity img{ height: 130px; overflow: hidden;}
  .ad-activity .ad-c2,.ad-activity .ad-c3{ margin-right: -20px;}
  .ad-activity .ad-c1 img {
    width: 100%;
    display: block;
    float: left;
    margin: 0 0 10px 0;
  }
  .ad-activity .ad-c2 img {
    width: 365px !important;
    display: block;
    float: left;
    margin:0 10px 10px 0;
  }
  .ad-activity .ad-c3 img {
    width: 240px !important;;
    display: block;
    float: left;
    margin:0 10px 10px 0;
  }
  .intro-photo img {
    width: 100% !important;
    background: #e0e0e0;
    overflow: hidden;
  }
  
  .good-info-kf {
      float: left;
      margin-top: 13px;
      margin-right: 18px;
      display: inline-block;
      color: #333;
      cursor: pointer
  }
  
  .good-info-kf em {
      vertical-align: middle
  }
  
  .good-info-kf .icon-kf4 {
      vertical-align: middle;
      margin-right: 5px
  }
  
  .good-info-kf:hover {
      color: #ee761a
  }
  #activities_panel li a {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    color: #333;
    cursor: pointer;
  }
  #activities_panel li a:hover{
    color:#428bca;
    text-decoration: underline;
  }