.mongolia {
    position: fixed;
    display: none;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/alpha_bg.png) repeat top;
}
.mongolia .pop-con {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -260px;
    width: 520px;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.mongolia .pop-con .tqm-bg{
    background: #fff;
    border-radius: 0 0 15px 15px;
    clear: both;
}
.mongolia .pop-personal{
    text-align: center;
}
.mongolia .pop-personal .title{
}
.mongolia .pop-personal .title img{
	float: left;
    margin-bottom: -1px;
}
.mongolia .pop-personal .con-txt01{
	
}
.mongolia .pop-personal .con-txt01 .p1{
    margin-bottom: 10px;
    margin-top: 30px;
}
.mongolia .pop-personal .con-txt01 .p2{
    
}
.mongolia .pop-personal .con-txt01 span{
	font-size: 16px;
    color: #333;
    margin-right: 10px;
}
.mongolia .pop-personal .con-txt01 input{
	border: 1px solid #e5e5e5;
    padding: 8px 7px;
}
.mongolia #pc-phone{
    width: 214px;
}
.mongolia #pc-code{
    width: 99px;
}
.mongolia #c-phone{
    width: 214px;
}
.mongolia #c-code{
    width: 99px;
}
.mongolia .pop-personal .con-txt01 botton{
	background: #de4b12;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
    width: 100px;
    display: inline-block;
    line-height: 33px; 
    cursor: pointer;
}
.mongolia .pop-personal .con-txt01 botton.on{
    background: #cccccc;
    color: #fff;
}
.mongolia .pop-personal .con-txt02{
	
}
.mongolia .pop-personal .con-txt02 p{
	
}
.mongolia .pop-personal .con-txt02 .p-now{
    padding-top: 20px;
}
.mongolia .pop-personal .con-txt02 .p-now a{
    font-size: 18px;
    width: 160px;
    height: 40px;
    background: #de4b12;
    color: #fff;
    display: inline-block;
    line-height: 40px;
    margin: 0 auto;
    cursor: pointer;
}
.mongolia .pop-personal .con-txt02 .p-now .closeit{
    position: inherit;
    background: #5eabdb;
    margin-left: 15px;
}
.mongolia .pop-personal .con-txt02 .p-green{
	font-size: 12px;
    width: 80%;
    margin: 10px auto 0;
    border-bottom: 1px dashed #e5e5e5;
    padding-bottom: 28px;
}
.mongolia .pop-personal .con-txt02 .p-green em{
    display: inline-block;
    overflow: hidden;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-image: url(../images/tqm_guide/i-agree.png?v=1);
    background-size: 100%;
    vertical-align: top;
    margin-right: 3px;
}
.mongolia .p-about{
    font-size: 14px;
    padding: 10px 0 15px;
}
.mongolia .p-about a{
    color: #ddd5a7;
}
.mongolia .p-about em{
    display: inline-block;
    overflow: hidden;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-image: url(../images/tqm_guide/about-tqm.png?v=2);
    background-size: 100%;
    vertical-align: top;
    margin-right: 8px;
}
.mongolia .closeit{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 34px;
    font-weight: normal;
    color: #999;
    text-align: center;
    cursor: pointer;
    z-index: 99999;
}
.mongolia .pop-nomarl{
    background: #fff;
}
.mongolia .pop-nomarl h1{
    font-size: 24px;
    font-weight: normal;
    color: #333;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0 8px;
    text-align: left;
}
.mongolia .pop-nomarl h2{
    font-size: 18px;
    font-weight: normal;
    color: #333;
    width: 90%;
    margin: 0 auto;
    padding: 15px 0 0 ;
}
.mongolia .pop-nomarl p{
    font-size: 14px;
    font-weight: normal;
    color: #999;
    width: 90%;
    margin: 15px auto 0;
}
.mongolia .pop-nomarl .go-botton{
    text-align: center;
    margin: 40px 0;
}
.mongolia .pop-nomarl .go-botton a{
    width: 160px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    display: inline-block;
    font-size: 18px;
    margin: 0 8px;
    cursor: pointer;
}
.mongolia .pop-nomarl .go-botton .a-grey{
    background: #cccccc;
}

.mongolia .pop-nomarl .go-botton .a-orange{
    background: #de4b12;
}
.mongolia-buoy{
    position: fixed;
    display: none; 
    right: 69px;
    bottom: 140px;
    cursor: pointer;
    z-index: 9999;
}
.mongolia .pop-con #tqm-fu{
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 80px;
    margin-left: -330px;
}
.submitBt[disabled]{
    background-color: #ccc!important;
}
.mongolia .pop-guide .quan-con{
    text-align: center;
}
.mongolia .pop-guide .beizhu{
    position: absolute;
    right: -30px;
    bottom: 121px;
    width: 160px;
    color: #cccccc;
}
#go-button{
    cursor: pointer;
}
.closepou{
    position: absolute;
    top: 2px;
    right: 60px;
}
.closepou img{
    width: 30px;
    cursor: pointer;
}
.home_button{
    display: block;
    width: 200px;
    height: 40px;
    background: #de4b12;
    position: absolute;
    bottom: 40px;
    left: 160px;
    border: 0;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
}
#myCoupons{
    cursor: pointer;
}
#c-getCode.on{
    background-color: #ccc !important;
}