* {
    margin: 0;
    padding: 0;
}

.sky_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999;
}

.sky_bg .red_packet {
    position: absolute;
}

.time_and_close{
    padding-top: 30px;
    width: 960px;
    height: 70px;
    margin: 0 auto;
}

.time_and_close .time{
    position: relative;
    float: left;
    width: 55px;
    height: 70px;
    z-index: 99;
    background: url("../images/packet_rain/clock.png") no-repeat;

}

.time_and_close .packet_rain_close{
    position: relative;
    display: block;
    float: right;
    width: 92px;
    height: 84px;
    z-index: 99;
    background: url("../images/packet_rain/close.png") no-repeat;
}

.time_and_close .time p{
    padding-top: 23px;
    text-align: center;
    font-size: 28px;
    color: #fff;
}
.rain_pop_bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,0.7);
}

.rain_pop_bg div{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
}

.rain_pop_bg div a{
    position: absolute;
    bottom:0;
    left: 50%;
    display: block;
    width: 53px;
    height: 50px;
    margin-left: -23px;
}
.rain_pop_bg .lucky p,
.rain_pop_bg .lucky2 p,
.rain_pop_bg .lucky4 p {
    width: 100%;
    position: absolute;
    top:47%;
    font-size: 18px;
    color: #fceb55;
}
.rain_pop_bg .lucky2 p .info,
.rain_pop_bg .lucky4 p .info{
    color: #000;
}

.rain_top{
    width: 100%;
    font-size: 0;
    background-color: #fef3f7;
    cursor: pointer;
}
.rain_top .content{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.rain_top .next_time{
    position: absolute;
    right: 60px;
    top: -11px;
    height: 61px;
    box-sizing: border-box;
    /*border: 1px solid #000;*/
}
.rain_top .next_time .txt{
    /*position: absolute;*/
    /*bottom: 0;*/
    display: block;
    height: 61px;
    line-height: 70px;
    float: left;
    font-size: 14px;
    color: #ff6e6e;
}
.rain_top .next_time div{
    position: relative;
    float: left;
}

.rain_top .next_time .num{
    display: block;
    width: 100%;
    position: absolute;
    top:15px;
    text-align: center;
    font-size: 28px;
    color: #68be42;
    font-weight: bold;
}
.rain_loding{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 99;
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 300px;
}